<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<span th:text="${loginURL}"></span>
        <button onclick="kakaoLogin()">로그인</button>
</body>
<script>

    var kakao_auth = /*[[${loginURL}]]*/;

    function kakaoLogin(){
        window.open(kakao_auth, 'popupKakaoLogin', 'width=700,height=500,scrollbars=1,toolbar=0,menubar=no')
    }
</script>

<script th:inline="javascript" type="text/javascript">

   // var kakao_auth = /*[[${loginURL}]]*/;
   //
   // function kakaoLogin(){
   //     window.open(kakao_auth, 'popupKakaoLogin', 'width=700,height=500,scrollbars=1,toolbar=0,menubar=no')
   // }
</script>
</html>
